body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('images/green.jpg');
    background-size:  cover;
}

.box {
    position: absolute;
}